@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <h1 style="text-align: center">Admin Panel</h1>
    <ul style="margin-top: 5%">
        <li><a href="/Identity/Account/Register">Dodaj nowego użytkownik</a></li>
        <li><a href="/RoleManager/Index">Dodaj role kont</a></li>
        <li><a href="/UserRoles/Index">Zarządzaj rolami kont</a></li>
        <li><a href="/UserManager/Index">Zarządzaj kontami</a></li>
    </ul>



</body>



