@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<body>
    <h1 style="text-align: center">Admin Panel</h1>
    <ul style="margin-top: 5%">
        <li><a href="/Identity/Account/Register">Dodaj nowego użytkownik</a></li>
        <li><a href="/RoleManager/Index">Dodaj role kont</a></li>
        <li><a href="/UserRoles/Index">Zarządzaj rolami kont</a></li>
        <li><a href="/UserManager/Index">Zarządzaj kontami</a></li>
    </ul>



</body>



