@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">
        Witaj w magazynie
    </h1>
        <p>Magazyn zawiera @ViewBag.products_number rodzajów produktów</p>
        <p>Do magazynu ma dostep @ViewBag.users_number użytkowników</p>

</div>

