@model List<MagazynApp.ViewModel.MissingOrderedProductViewModel>

<h1>Szybka realizacja tego zamówienia jest niemożliwa z powodu braku następujacych produktów</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa Produktu</th>
            <th>Dostępna ilość</th>
            <th>Zamówiona ilość</th>
            <th>Brakująca ilość</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductAmount
                </td>
                <td>
                    @item.OrderedAmount
                </td>
                <td>
                    @item.MissingAmount
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="CheckoutConfirmation" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="btn-group col-md-offset-2 col-md-8">
            <input class="btn btn-success" type="submit" value="Complete order" />
        </div>
    </div>
</form>
