@model MagazynApp.ViewModel.ChangePasswordViewModel;
@{
    ViewData["Title"] = "Change password";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword" asp-route-newPassword="" class="control-label">Nowe hasło</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" asp-route-newPassword="" class="control-label">Nowe hasło</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input value="@ViewBag.userId" name="userId" type="hidden"/>
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}