@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width"/>
</head>


<body>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-header">
                        Panel administracyjny
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="btn-group-vertical mb-2" style="width: 60%">
                            <button class="btn btn-block btn-info mb-3" onclick="window.location.href = '/Identity/Account/Register'">Dodaj nowego użytkownika</button>
                            <button class="btn btn-block btn-info mb-3" onclick="window.location.href = '/RoleManager/Index'">Zarządzaj rolami</button>
                            <button class="btn btn-block btn-info mb-3" onclick="window.location.href = '/UserRoles/Index'">Zmień role użytkownika</button>
                            <button class="btn btn-block btn-info mb-3" onclick="window.location.href = '/UserManager/Index'">Zarządzaj użytkownikami</button>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>