@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "AdminLTE/_Layout";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>